* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo img {
    width: 50px; /* Adjust size accordingly */
    display: block;
    margin: 0 auto 20px;
}

h1 {
    color: #5b4c4b;
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
    text-align: left;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #d4c0c0;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #c46a6a;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #a05252;
}