





body {
  
            
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}





header {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #923c3c;
    padding: 10px;
    color: white;
}

   

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: #4b2d2d;
    font-size: 3em;
    margin-top: 50px;
}

p {
    text-align: center;
    font-style: italic;
    margin: 5px auto;
    width: 20%;
    font-size: 1.2em;
    color: #333;
    margin-top: 100px ;
}

.cta-button {
    display: inline-block;
    background-color: #ff6f61;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    margin: 0px;
    font-size: 1.1em;
    margin-left: 620px;
    margin-top: 100px;
    margin-bottom: 150px;
}

.cta-button:hover {

    background-color: #ff5a47;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #8e3d3d;
    color: white;
}

.footer-links {
    margin-top: 20px;
}

.footer-links a {
    color: rgb(226, 219, 219);
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.1em;
}